<mat-nav-list class="d-flex flex-column" style="height: 100%">
  <section>
    <div *ngIf="servers != null else loading">
      <div style="padding: 10px" *ngFor="let server of servers">
        <div class="d-flex align-items-center">

        <mat-checkbox class="flex-grow-1" [checked]="server.selected" (change)="authService.updateServer(server, $event.checked)">
          <b>{{server.displayName}}</b>
        </mat-checkbox>
        <button mat-mini-fab size="0.5" color="accent" [ngStyle]="{transform: 'scale(0.8)'}" (click)="authService.removeServer(server)">
          <mat-icon>delete</mat-icon>
        </button>
        </div>
        <div class="d-flex align-items-center">
          <div style="margin-right: auto">
            Cache Date:
            {{server.cacheDate | date: 'short'}}
          </div>
          <button mat-mini-fab size="0.5" color="accent" [ngStyle]="{transform: 'scale(0.8)'}" (click)="authService.refreshCache(server)">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <ng-template #loading>
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </ng-template>
  </section>
  <div style="margin-top: auto; width: auto">
    <button style="width: 100%" mat-raised-button color="primary" (click)="openLogin()">Register new Server</button>
  </div>
  <div>
  </div>
</mat-nav-list>
