<form class="d-flex p-3 flex-column" (ngSubmit)="this.submit()">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput name="userName" [(ngModel)]="this.userName">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput name="password" type="password" [(ngModel)]="this.password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Server Uri</mat-label>
      <input matInput [(ngModel)]="this.url" name="url">
    </mat-form-field>
    <div class="d-flex align-items-center">
      <mat-label>Use SSL</mat-label>
      <mat-checkbox style="margin-left: auto" [(ngModel)]="this.useSSL" name="useSSL"></mat-checkbox>
    </div>
  <mat-form-field>
    <mat-label>Display Name</mat-label>
    <input matInput [(ngModel)]="this.displayName" name="displayName">
  </mat-form-field>
  <button mat-raised-button color="primary">Login</button>
  <button mat-raised-button (click)="onCancel()">Cancel</button>
</form>
